html{
    height: 100vh;
    height: 100%;
}
input:focus::-webkit-input-placeholder {
    color:lightgray;}
    
    input:focus{
    outline: 0;
    border-radius: 10px;
    border:1px solid blue;
    box-shadow: 0 0 10px #719ECE;
    
}
    
body
    {
        
        max-height: 85vh;
        max-height: 85%;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        background:linear-gradient(120deg,#ff7e5f,#feb47b);
        background:linear-gradient(120deg,#06ced4,#03a78b);
       /* background:linear-gradient(#cc2b5e,#753a88);*/
        background-repeat: no-repeat;
        background-attachment: fixed;
        
        
    }


input
    {
                  
                height: 45%;
                width: 75%;
                border-radius: 10px;
                border: blue;
                box-shadow: 0 0 10px #719ECE; 
                
                           
    }

#email,#password
    {
        font-size:4vh;            
    }

     
#login
    {
                background-color:rgb(19, 105, 233);
                font:bold;
                font-size:5vh;
                color:white;
                vertical-align: center;
                cursor: pointer;

                

    }

#login:hover
    {
        width: 77%;
        height: 47%;
        background-color: rgb(20, 90, 196);
    }

    

#create-new-account
    {
            height: 45%;
            width: 40%;
            font:bold;
            border-radius: 10px;
            color:white;
            background-color:rgb(4, 167, 26);
            cursor: pointer;
            font-size: 5vh;
            box-shadow: 0 0 10px rgb(4, 167, 26); 
            border:green;
            
            
    }

#create-new-account:hover
    {
        height: 47%;
        width:42%;
        background-color: rgb(5, 141, 23);
        
    }

header{
        text-align: center;
        color: white;
        font-size:11vh;
        font-weight: bold;
        padding-top:2vw;
        
    }
#login-container{
        max-width: 50vw;
    }
.container-row{
    height:70vh;
}
    
   

@media screen and (max-width: 768px) { 
    #login {
         font-size: 2.5vh;
    }
    #login-container
    {
        max-height: 60vh;
        max-width: 80vw;
    }
    #login:hover{
        width:55%;
        height: 45%;
    }
    
    
    #create-new-account{
        width: 25vw;
        height:35%;
        font-size:3vh;
    }
    #create-new-account:hover{
        height:37%;
        width:27vh;
    }
    input{
        width:40vw;
    }
    
    
    #email,#password
    {
        font-size:3.5vw;            
    }

    header{
        font-size:10vw;
        
    }
       
}



@media screen and (max-width: 500px){
#login-container{
        max-height: 60vh;
        max-width: 80vw;
        padding-top: 20vw;
    }
header{
        margin-top:5vw;
    }
#create-new-account{
        width: 25vw;
        height:35%;
        font-size:3vw;
    }

} 
