html{
    height: 100vh;
    height: 100%;
}
input:focus::-webkit-input-placeholder {
    color:lightgray;}
    
    input:focus{
    outline: 0;
    border-radius: 10px;
    border:1px solid blue;
    box-shadow: 0 0 10px #719ECE;
    
}
    
body
    {
        
        max-height: 95vh;
        max-height: 95%;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        background:linear-gradient(120deg,#ff7e5f,#feb47b);
        background:linear-gradient(120deg,#06ced4,#03a78b);
       /* background:linear-gradient(#cc2b5e,#753a88);*/
        background-repeat: no-repeat;
        background-attachment: fixed;
        
        
    }


input
    {
                  
                height: 45%;
                width: 75%;
                border-radius: 10px;
                border: blue;
                box-shadow: 0 0 10px #719ECE; 
                
                           
    }

#email,#password
    {
        font-size:4vh;            
    }

     
#login
    {
                background-color:rgb(19, 105, 233);
                font:bold;
                font-size:5vh;
                color:white;
                vertical-align: center;
                cursor: pointer;

                

    }

#login:hover
    {
        width: 77%;
        height: 47%;
        background-color: rgb(20, 90, 196);
    }

    

#create-new-account
    {
            height: 45%;
            width: 40%;
            font:bold;
            border-radius: 10px;
            color:white;
            background-color:rgb(4, 167, 26);
            cursor: pointer;
            font-size: 5vh;
            box-shadow: 0 0 10px rgb(4, 167, 26); 
            border:green;
            
            
    }

    #create-new-account:hover
    {
        height: 47%;
        width:42%;
        background-color: rgb(5, 141, 23);
        
    }

    header{
        text-align: center;
        color: white;
        font-size:10vh;
        font-weight: bold;
        
    }

    hr{
        padding-top:2%;
    }

@media screen and (max-width: 768px) { 
    #login {
         font-size: 1em;
    }
    #login:hover{
        width:72%;
        height: 45%;
    }
    #email{
        placeholder-text:
    }
    
    #create-new-account{
        width: 50%;
        height:35%;
        font-size:1em;
    }
    #create-new-account:hover{
        height:37%;
        width:52%;
    }
    input{
        width:25vh;
    }
    
    #login-container{
        width:75vh;
        height: 20vh;
    }
    #email,#password
    {
        font-size:2.5vh;            
    }

    header{
        font-size:9vh;
    }
    
}


