html{
    height: 100%;
}
.addTask{
    background:rgb(2, 211, 2);
    color: white;
    
    
    cursor: pointer;
    border: none;
    
    transition:all 0.3s ease;
    box-shadow: 0 0 10px #0e75e2;
    width:15vh;
    height:10vh;
    

    

}
#add{
    background-size: 200%;
}
    

.addTask:hover{
    color:rgb(2, 211, 2);
    background:white;
    
}
#todo-input{
    width: 50vh;
    height: 10vh;
    font-size:5vh;
}

.todo-list{
    margin-right:20vh;
}
body{
    height:100vh;
    
    
    background:linear-gradient(120deg,#b5e1ec,#3fa4e7);
    background:linear-gradient(120deg,#06ced4,#03a78b);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    

}

input:focus::-webkit-input-placeholder {
    color:lightgray;}
input{
    outline: 0;
    border: 0.5px white;
    
    /*box-shadow: 0 0 10px #719ECE;*/
    cursor: pointer;
    width:35%;
    height: 30%;
    
}

input:focus{
    outline: 0;
    
    /*border:0.5px solid blue;*/
    box-shadow: 0 0 10px #0e75e2;
    
}

#logout{
    border-radius: 10px; 
    
    font-weight: bold;
    font-size: 115%;
    transition:all 0.3s ease;
    height:8vh;
    width:17vh;
    
}   
#logout:hover{
    color: rgba(255, 0, 0, 0.692);
    font-weight: bold;
    box-shadow: 0 0 10px #0500fa;
} 

.todo-list{
    min-width: 35%;
    
    list-style: none;
}

.todo{
    margin:0.75rem;
    background: white;
    color: black;
    font-size: 1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.todo li{
    flex: 0.9;
    
}

.trash-btn,.complete-btn{
    border:none;
    padding: 0.6rem;
    cursor: pointer;
    
    box-shadow: 0 0 10px #d4380d;
    
    color: white;
    background: #ff6f47;
    transition:all 0.3s ease;
}
.complete-btn:hover{
    background: white;
    /*color: #ff6f47;*/
    color: rgb(2, 211, 2)
    

}
.trash-btn:hover{
    color:black;
    background: white;
}
.complete-btn{
    background: rgb(2, 211, 2);
    color: white;
    box-shadow: 0 0 10px #0e75e2;
}
.fa-trash,.fa-check{
    pointer-events: none;
}
.todo-item{
    width:15vh;
}
@media only screen and (max-width: 1000px) { 
    #todo-input,.addTask{
        height:10vh;
    }
    #todo-input{
        width:40vh;
        font-size:x-large;
    }
    .addTask{
        width: 15vh;
    }
    .trash-btn,.complete-btn{
        padding: 0.7rem;
    }
    #logout{
        height:8vh;
        width:20vh;
    }
    .todo-item{
        width:20vh;
    }
}