html{
    height: 100%;
}
.addTask{
    background:rgb(2, 211, 2);
    color: white;
    
    
    cursor: pointer;
    border: none;
    
    transition:all 0.3s ease;
    box-shadow: 0 0 10px #0e75e2;
    width:5vw;
    height:5vw;
    

    

}

    

.addTask:hover{
    color:rgb(2, 211, 2);
    background:white;
    
}
#todo-input{
    width: 40vw;
    height: 5vw;
    font-size:2.5vw;
    margin-left:10vw;
}


#logout{
    border-radius: 10px; 
    
    font-weight: bold;
    font-size: 1.3vw;
    transition:all 0.3s ease;
    height:4vw;
    width:8vw;
    
}   
#logout:hover{
    color: rgb(255, 0, 0, 0.692);
    font-weight: bold;
    box-shadow: 0 0 10px #0500fa;
} 


body{
    height:100vh;
    
    
    background:linear-gradient(120deg,#b5e1ec,#3fa4e7);
    background:linear-gradient(120deg,#06ced4,#03a78b);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    

}

input:focus::-webkit-input-placeholder {
    color:lightgray;}
input{
    outline: 0;
    border: 0.5px white;
    
    /*box-shadow: 0 0 10px #719ECE;*/
    cursor: pointer;
    
    
}

input:focus{
    outline: 0;
    
    /*border:0.5px solid blue;*/
    box-shadow: 0 0 10px #0e75e2;
    
}


.todo-list{
    
    margin-right:10vw;
    list-style: none;
}

.todo{
    margin:1.5rem;
    background: white;
    color: black;
    font-size: 1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.todo li{
    flex: 0.9;
    
}

.trash-btn,.complete-btn{
    border:none;
    padding: 0.6rem;
    cursor: pointer;
    
    box-shadow: 0 0 10px #ff6f47;
    
    color: white;
    background: #ff6f47;/*ff6f47*/
    transition:all 0.3s ease;
}
.complete-btn:hover{
    background: white;
    /*color: #ff6f47;*/
    color: rgb(2, 211, 2)
    

}
.trash-btn:hover{
    color:black;
    background: white;
}
.complete-btn{
    background: rgb(2, 211, 2);
    color: white;
    box-shadow: 0 0 10px #0e75e2;
}
.fa-trash,.fa-check{
    pointer-events: none;
}
.todo-item{
    width:30vw;
}

@media screen and (max-width: 768px) { 
    #todo-input,.addTask{
        height:8vw;
        
        
    }
    
    #todo-input{
        width:50vw;
        font-size:3vw;
    }
    .addTask{
        width: 10vw;
        
    }
    .trash-btn,.complete-btn{
        padding: 0.4rem;
    }
    #logout{
        height:6vw;
        width:17vw;
        font-size:2vw;
    }
    .todo-item{
        width:30vw;
    }

    
}